.before_after_back{
    width: 100%; height: 67.2rem; float: left; position: relative;
    img{
        position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; object-position: left top; 
    }
    .container{
        position: relative; z-index: 2;
        .details{
            position: relative; padding-left: 7.8rem; 
            h2{
                color: #fff; font-size: 4.3rem; text-transform: capitalize; margin-bottom: 2.5rem; line-height: 8.3rem; 
                
            }
            p{
                color: #ccbd99; font-size: 2.7rem; margin-bottom: 4rem; width: 43%;
            }
            .custom_button{
                margin-right: 2rem;
                a{
                    background-color: transparent; color: #ccbd99; border: #ccbd99 2px solid;
                    span{
                        background-color: #ccbd99;
                    }
                }
                &:first-child{
                    a{
                         line-height: 5.6rem; color: #fff; border-color:#fff ;
                        span{
                            background-color: #fff; background-image: url(../images/b1-icon.png);
                        }
                    }
                    img{
                        filter: brightness(0) invert(1);
                    }
                }
                
                img{
                    width: auto; height: auto; right: 1rem; left: auto;
                }
            }
            &::before{
                width: 6rem; height: 1px; background-color: #928d98; position: absolute; left: 0; top: 2.8rem; content: "";
            }
        }
        
        
    }
}

.before_after_section_back{
    width: 100%; float: left; padding: 6rem 0 3rem; background-color: #f8f8f8; position: relative; z-index: 1;
    &:after{
        width: 50%; height: 100%; background-color: #f1f1f1; position: absolute; top: 0; right: 0; content: ""; z-index: -1;
    }
    .portion{
        width: 100%; height: auto; float: left; text-align: center; margin-bottom: 3rem;
        .icon_back{
            width: 11.5rem; height: 11.5rem; border-radius: 100%; border: #818181 2px solid; margin: 0 auto; margin-bottom: 2.8rem;
            img{
                display: block;
            }
        }
        h2{
            font-size: 2.6rem; color: #373737; padding-bottom: 3.4rem; text-transform: capitalize; margin-bottom: 3rem; position: relative;
            &:before{
                width: 9rem; height: 1px; background-color: #928d98; position: absolute; left: 0; right: 0; bottom: 0; margin: auto; content: "";
            }
            &:after{
                width: 9rem; height: 1px; background-color: #928d98; position: absolute; left: 0; right: 0; bottom: 4px; margin: auto; content: "";
            }
        }
        p{
            font-size: 1.9rem; color: #575757; line-height: 3.6rem; margin-bottom: 3rem;
        }
        .custom_button{
            
            a{
                width: 35.3rem; text-align: left;
            }
        }
    }
}





@media only screen and (max-width:1023px){
    .before_after_back{
        margin-top: 15.8rem;
        .container{
            /*h2{
                font-size: 3.7rem;
            }*/
        }
    }
}
@media only screen and (max-width:500px){
    .before_after_back{
        
        .container{
            .details{
                &::before{
                    display: none;
                }
                text-align: center; padding-left: 0; 
                h2{
                    font-size: 5rem;
                }
                p{
                    width: 100%;
                }
                .custom_button{
                    a{
                        padding-left: 0;
                        img{
                            width: 3.4rem;
                        }
                        span{
                            background-size: 50%;

                        }
                    }
                }
            }
        }
    }

}