body{
    font-family: 'Lato', sans-serif; color: #fff;
}
html{
    font-size: 62.5%;
}
p{
    margin: 0; padding: 0;
}

h1, h2, h3, h3, h4, h5, h6{
    margin: 0; padding: 0; line-height: .9; font-family: 'Prata', serif;
}
ul, li{
    margin: 0; padding: 0;list-style: none;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.loader{ 
    width: 100%; height: 100%; position: fixed; left: 0; top: 0; background-color: #fff; z-index: 9999; display: flex; align-items: center; justify-content: center;
    .spinner-border{ /*border-color: #0b0c26;*/     border: .25em solid #0b0c26;     border-right-color: transparent;}
}

.container{
    max-width: 1440px;
}
.clear {
    clear: both;
}
@media only screen and (max-width:1450px){
    .container{
        max-width: 1200px;
    }
}
@media only screen and (max-width:1200px){
    .container{
        max-width: 100%; width: 100%;
    }
}
.sticky{
    position: fixed !important; top: 0; left: 0;
}
.custom_button{
    display: inline-block;
    a{
        width: 30rem; height: 6rem; line-height: 6rem; background-color: #ccbd99; padding-left: 8.4rem; display: block; font-size: 1.3rem; color: #404040; text-decoration: none; outline-style: none; 
        text-transform: uppercase; transition: all .5s ease-in; font-weight: 700; position: relative;
        &:hover{
            background-color: #7f6657;
        }
        span{
            width: 6rem; height: 100%; background-color: #404040; background-image: url(../images/b-icon.png); background-repeat: no-repeat; background-position: center; position: absolute; top: 0; left: 0;
        }
        img{
            position: absolute; top: 0; right: 1rem; bottom: 0; margin: auto;
        }
    }    
}

.heading{
    &.text-center{
        span{
            right: 0; margin: auto
        }
        p{
            display: inline-block;
        }
    }
    width: 100%; margin: 0 0 5rem; padding: 6rem 0 0 0; float: left; position: relative;
    span{
        width: 5px; height: 5px; background-color: #7f6657; border-radius: 20px; position: absolute; top: 0; left: 0;  
        &::before{
            width: 5px; height: 5px; background-color: #7f6657; border-radius: 20px; position: absolute; top: 0; left: -8px; content: "";
        }
        &::after{
            width: 5px; height: 5px; background-color: #7f6657; border-radius: 20px; position: absolute; top: 0; left: 8px; content: "";
        }
    }
    
    h2{
        color: #000; font-size: 2rem; font-weight: 700; margin-bottom: 3rem; padding: 0; text-transform: uppercase;
    }
    p{
        font-size: 2rem; color: #000; line-height: 3.3rem; width: 50%;
    }
}

.default_body{
    width: 100%; float: left; padding: 7rem 0;
}

@media only screen and (max-width:1450px){    
    html{
        font-size: 51%;
    }
}

@media only screen and (max-width:1200px){
    html{
        font-size: 44%;
    }
    
}
@media only screen and (max-width:1023px){
    html{
        font-size: 46%;
    }
    
}

@media only screen and (max-width: 500px){
    html{
        font-size: 38.5%;
    }
    .heading{
        p{
            width: 100%;
        }
    }
}
@media only screen and (max-width:450px){
    html{
        font-size: 35%;
    }
    
}